.ptf_projects {
    background: rgb(36,44,55);
    background: linear-gradient(180deg, rgba(36,44,55,1) 0%, rgba(36,49,72,0.88) 37%, rgba(27,40,62,0.61) 75%, rgba(114,121,132,0.69) 100%); 
    
    &__title {
        h2 {

            &::before {
                content: "";

            }

            &::after {
                content: "";
            }
        }
    }
}