.ptf_about {
    background-color: #242C37;
    height: 100vh; 

    &__main {

        &--title {

            h1 {
                font-weight: 500;
                color: #4BE6AD;
                text-transform: uppercase;
            }

            span {
                color: #CCCCCC;
                font-style: italic;
            }
        }

        .neon_btn {
            border: #4BE6AD solid 2px;
            color: #4BE6AD;

            &:hover {
                background-color: #4BE6AD;
                color: #242C37;
            }
        }

        .btn {
            padding: 8px 15px;
        }
    }

    &--profile {

        &__desc {
            background-color: #212428;

            p {
                color: #CCCCCC !important;
            }
        }
    }

    .portrait_cr {
        border: #4BE6AD solid 2px;
        width: fit-content;
        height: fit-content;
        border-radius: 50%;
        position: relative;
        top: 50px;
        left: 0;
        right: 0;

        img {
            max-width: 250px;
            max-height: 250px;
            margin: 5px;
        }
    }
}