$mainBG-Color: #F2F4F4;
$primaryColor: rgba(213, 216, 220, 0.3);
$secondaryColor: #54f0a2;
$tritaryColor: #212F3D;
$accentColor: #031625;
$font-color: #F2F4F4;

* {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;  
    background-color: $mainBG-Color;
}

#bg-ele-svg {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: -50px;
}

.navbar {
    background-color: $accentColor;
    width: 100%;
    top: 0vh;
    z-index: 1;
    position: fixed;

    #nav-menu {
        text-align: center;
        .nav-items {
            list-style-type: none;
            margin-top: 8px;
            .btn-nav {
                border-radius: 0px;
                border-bottom: $accentColor 3px solid;
                padding: 3px;
                transition: border-bottom 0s ease-in-out, color 0.5s ease-in-out;
            }
            .btn-nav:hover {
                color: $secondaryColor;
            }
            .btn-nav:focus {
                border-bottom: solid 3px $secondaryColor;
                color: $secondaryColor;
            }

            a {
                text-decoration: none;
                color: $font-color;
            }
        }
    }
}

.container {
    color: $accentColor;
    margin: 7em auto;
}

#intro-sec {
    text-align: center;
    margin-top: 9em;

    #intro-title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 40pt;
            margin-bottom: 15px;
            color: $tritaryColor;
        }

        p {
            color: $tritaryColor;
            background-color: $secondaryColor;
            text-align: left;
            font-size: 15pt;
            border-left: solid $tritaryColor 3px;
            border-radius: 2px;
            padding: 7px;
            margin-left: 1em;
        }
    }
}

#info-sec {
    .content-box {
        padding: 20px;
        margin: 3em auto;
        width: auto;
        height: auto;
        background-color: $primaryColor;
        border-radius: 2px;
        text-align: center;
        box-shadow: 2px 2px 0px 0px rgb(223, 223, 223);

        .box-title {
            text-align: center;
            margin: auto;
            margin-bottom: 1em;
            width: 4em;
        }

        #about-content {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            p {
                width: 30em;
                font-size: 14pt;
                text-align: left;
                padding-left: 5px;
            }

            #intro-pic {
                border-radius: 50%;
                width: fit-content;
                border: solid $tritaryColor 5px;

                img {
                    border-radius: 50%;
                    width: 250px;
                }
            }  
        } 

        #about-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2em;

            p {
                margin-right: 1em;
                margin-top: 1em;
            }
            .btn-design {
                background-color: none;
                color: $accentColor;
                border: $accentColor 2px solid;
            }

            .btn-design:hover {
                color: $secondaryColor;
                background-color: $accentColor;
            }
        }

        a {
            text-decoration: none;
            color: black;
        }

        .row .col {
            margin: 0;
            margin-bottom: 2em;

            .project-cards {
                width: 14em;
                padding: 0%;
                opacity: 100%;
                transition: color 0.7s ease-in-out, opacity 0.7s ease-in-out;
                color: white;

                .project-bottom {
                    background-color: $tritaryColor;
    
                    .project-title {
                        text-align: center;
                        padding-top: 5px;
                    }
                    .project-desc {
                        font-size: 10pt;
                        padding: 8px;
                    }
                }
            }

            .project-cards:hover {
                opacity: 60%;
                color: $secondaryColor;
            }
        }

        .skills-box {
            display: flex;
            flex-direction: column;
            justify-content: center;

            #WD-Skills, #SD-Skills {
                display: flex;
                text-align: center;

                .col {
                    margin: 7px auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .skill-list{
                        
                        width: 75%;
                        height: auto;
                        padding: 1em;
                        display: flex;
                        flex-wrap: wrap;
                        background-color: $tritaryColor;
                        border-bottom: solid $accentColor 3px;
                        border-radius: 7px;

                        li {
                            list-style-type: none;
                            margin-right: 1em;
                            margin-bottom: 10px;
                            color: darkslategray;
                            background-color: $secondaryColor;
                            border: solid 2px $secondaryColor;
                            border-radius: 15px;
                            padding: 5px;
                        }

                        li:hover {
                            background-color: $tritaryColor;
                            color: $secondaryColor
                        }
                    }
                }
            }
        }

        .contact-items {
            display: flex;
            justify-content: space-around;

            .btn-contact {
                background-color: none;
                color: $accentColor;
                border: $accentColor 2px solid;
            }

            .btn-contact:hover {
                color: $secondaryColor;
                background-color: $accentColor;
            }
        }

    }

}

footer {
    background-color: $accentColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

    p {
        color: $font-color;
    }
}
        

