// Global Variables, Function, and Mixins
/*** Colors ***/
$darkGray: #2B2F33;
$grayBlue: #475B79;
$lightGreen: #4BE6AD;
$lightGrey: #CCCCCC;
$concrete: #E2E2E2;
$charcoal: #242C37;
$midnight: #212428;
$white: #FFFFFF;

/*** Sizing & Spacing ***/
$gutter: 16px;

/*** Misc Styles ***/


/*** Other Mixins & Functions ***/
@function generateNewGB($color1, $color2, $color3, $deg, $per1, $per2, $per3) {
    $gradientBackground: linear-gradient($deg, rgba($color1) $per1, rgba($color2) $per2, rgba($color3) $per2);

    @return $gradientBackground;
}

@mixin gradientBackground {
   background: generateNewGB($charcoal, (36,49,72,0.88), (114,121,132,0.75), 100deg, 0%, 35%, 100%);
}

@mixin genSpacingClasses($n) {
   @for $n from 0 through $n {
    .p-#{$n} { padding: ($n * 10px) !important; }
    .p-lg-#{$n} {

    }
    .p-md-#{$n} {

    }
    .p-sm-#{$n} {
        
    }

    .pr-#{$n} { padding-right: ($n * 10px) !important; }
    .pl-#{$n} { padding-left: ($n * 10px) !important; }
    .pt-#{$n} { padding-top: ($n * 10px) !important; }
    .pb-#{$n} { padding-bottom: ($n * 10px ) !important; }
    .px-#{$n} { 
        padding-left: ($n * 10px) !important;
        padding-right: ($n * 10px) !important;
    }
    .py-#{$n} {
        padding-top: ($n * 10px) !important;
        padding-bottom: ($n * 10px) !important;
    }

    .m-#{$n} { margin: ($n * 10px) !important; }
    .mr-#{$n} { margin-right: ($n * 10px) !important; }
    .ml-#{$n} { margin-left: ($n * 10px) !important; }
    .mt-#{$n} { margin-top: ($n * 10px) !important; }
    .mb-#{$n} { margin-bottom: ($n * 10px ) !important; }
    .mx-#{$n} { 
        margin-left: ($n * 10px) !important;
        margin-right: ($n * 10px) !important;
    }
    .my-#{$n} {
        margin-top: ($n * 10px) !important;
        margin-bottom: ($n * 10px) !important;
    }
   } 
}

@mixin genMiscClasses($n) {
    @for $n from 0 through $n {
     .rounded-#{$n} { border-radius: ($n * 5px) !important; }
    } 
 }

* {
    @include genSpacingClasses(30);
    @include genMiscClasses(5);
}