// Global Variables, Function, and Mixins
/*** Colors ***/
$darkGray: #2B2F33;
$grayBlue: #475B79;
$lightGreen: #4BE6AD;
$lightGrey: #CCCCCC;
$concrete: #E2E2E2;
$charcoal: #242C37;
$midnight: #212428;
$white: #FFFFFF;

/*** Sizing & Spacing ***/
$gutter: 16px;
$breakpoint--desktop: 1020px;
$breakpoint--tablet: 768px;
$breakpoint--mobile: 300px;

/*** Display Styles ***/
@media (min-width: $breakpoint--mobile) { 
    .sm-hide { display: none !important; }
}

@media (min-width: $breakpoint--tablet) { 
    .md-hide { display: none !important; }
}

@media (min-width: $breakpoint--desktop) { 
    .lg-hide { display: none !important; }
}

/*** Other Mixins & Functions ***/
@function generateNewGB($color1, $color2, $color3, $deg, $per1, $per2, $per3) {
    $gradientBackground: linear-gradient($deg, rgba($color1) $per1, rgba($color2) $per2, rgba($color3) $per2);

    @return $gradientBackground;
}

@mixin gradientBackground {
   background: generateNewGB($charcoal, (36,49,72,0.88), (114,121,132,0.75), 100deg, 0%, 35%, 100%);
}

@mixin genSpacingClasses($n) {
   @for $n from 0 through $n {
    .p-#{$n} { padding: ($n * 10px) !important; }
    .pr-#{$n} { padding-right: ($n * 10px) !important; }
    .pl-#{$n} { padding-left: ($n * 10px) !important; }
    .pt-#{$n} { padding-top: ($n * 10px) !important; }
    .pb-#{$n} { padding-bottom: ($n * 10px ) !important; }
    .px-#{$n} { 
        padding-left: ($n * 10px) !important;
        padding-right: ($n * 10px) !important;
    }
    .py-#{$n} {
        padding-top: ($n * 10px) !important;
        padding-bottom: ($n * 10px) !important;
    }

    // Padding & Margin Sizes For Desktop
    @media (min-width: $breakpoint--desktop) {
        .p-lg-#{$n} { padding: ($n * 10px) !important; }
        .pr-lg-#{$n} { padding-right: ($n * 10px) !important; }
        .pl-lg-#{$n} { padding-left: ($n * 10px) !important; }
        .pt-lg-#{$n} { padding-top: ($n * 10px) !important; }
        .pb-lg-#{$n} { padding-bottom: ($n * 10px ) !important; }
        .px-lg-#{$n} { 
            padding-left: ($n * 10px) !important;
            padding-right: ($n * 10px) !important;
        }
        .py-lg-#{$n} {
            padding-top: ($n * 10px) !important;
            padding-bottom: ($n * 10px) !important;
        }

        .m-lg-#{$n} { margin: ($n * 10px) !important; }
        .mr-lg-#{$n} { margin-right: ($n * 10px) !important; }
        .ml-lg-#{$n} { margin-left: ($n * 10px) !important; }
        .mt-lg-#{$n} { margin-top: ($n * 10px) !important; }
        .mb-lg-#{$n} { margin-bottom: ($n * 10px ) !important; }
        .mx-lg-#{$n} { 
            margin-left: ($n * 10px) !important;
            margin-right: ($n * 10px) !important;
        }
        .my-lg-#{$n} {
            margin-top: ($n * 10px) !important;
            margin-bottom: ($n * 10px) !important;
        }
    }

    // Padding & Margin Sizes For Tablet
    @media (min-width: $breakpoint--tablet) {
        .p-md-#{$n} { padding: ($n * 10px) !important; }
        .pr-md-#{$n} { padding-right: ($n * 10px) !important; }
        .pl-md-#{$n} { padding-left: ($n * 10px) !important; }
        .pt-md-#{$n} { padding-top: ($n * 10px) !important; }
        .pb-md-#{$n} { padding-bottom: ($n * 10px ) !important; }
        .px-md-#{$n} { 
            padding-left: ($n * 10px) !important;
            padding-right: ($n * 10px) !important;
        }
        .py-md-#{$n} {
            padding-top: ($n * 10px) !important;
            padding-bottom: ($n * 10px) !important;
        }

        .m-md-#{$n} { margin: ($n * 10px) !important; }
        .mr-md-#{$n} { margin-right: ($n * 10px) !important; }
        .ml-md-#{$n} { margin-left: ($n * 10px) !important; }
        .mt-md-#{$n} { margin-top: ($n * 10px) !important; }
        .mb-md-#{$n} { margin-bottom: ($n * 10px ) !important; }
        .mx-md-#{$n} { 
            margin-left: ($n * 10px) !important;
            margin-right: ($n * 10px) !important;
        }
        .my-md-#{$n} {
            margin-top: ($n * 10px) !important;
            margin-bottom: ($n * 10px) !important;
        }
    }

    // Padding & Margin Sizes For Mobile
    @media (min-width: $breakpoint--mobile) {
        .p-sm-#{$n} { padding: ($n * 10px) !important; }
        .pr-sm-#{$n} { padding-right: ($n * 10px) !important; }
        .pl-sm-#{$n} { padding-left: ($n * 10px) !important; }
        .pt-sm-#{$n} { padding-top: ($n * 10px) !important; }
        .pb-sm-#{$n} { padding-bottom: ($n * 10px ) !important; }
        .px-sm-#{$n} { 
            padding-left: ($n * 10px) !important;
            padding-right: ($n * 10px) !important;
        }
        .py-sm-#{$n} {
            padding-top: ($n * 10px) !important;
            padding-bottom: ($n * 10px) !important;
        }

        .m-sm-#{$n} { margin: ($n * 10px) !important; }
        .mr-sm-#{$n} { margin-right: ($n * 10px) !important; }
        .ml-sm-#{$n} { margin-left: ($n * 10px) !important; }
        .mt-sm-#{$n} { margin-top: ($n * 10px) !important; }
        .mb-sm-#{$n} { margin-bottom: ($n * 10px ) !important; }
        .mx-sm-#{$n} { 
            margin-left: ($n * 10px) !important;
            margin-right: ($n * 10px) !important;
        }
        .my-sm-#{$n} {
            margin-top: ($n * 10px) !important;
            margin-bottom: ($n * 10px) !important;
        }
    }

    .m-#{$n} { margin: ($n * 10px) !important; }
    .mr-#{$n} { margin-right: ($n * 10px) !important; }
    .ml-#{$n} { margin-left: ($n * 10px) !important; }
    .mt-#{$n} { margin-top: ($n * 10px) !important; }
    .mb-#{$n} { margin-bottom: ($n * 10px ) !important; }
    .mx-#{$n} { 
        margin-left: ($n * 10px) !important;
        margin-right: ($n * 10px) !important;
    }
    .my-#{$n} {
        margin-top: ($n * 10px) !important;
        margin-bottom: ($n * 10px) !important;
    }
   } 
}

@mixin genMiscClasses($n) {
    @for $n from 0 through $n {
     .rounded-#{$n} { border-radius: ($n * 5px) !important; }
    } 
 }

* {
    @include genSpacingClasses(30);
    @include genMiscClasses(5);
}