#side-navbar {
    height: 100%;
    width: 140px;
    background: #2B2F33;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    .navbar {
        flex-direction: column;

        &--top { 
            .nav-primary {

                .nav-menu {
                    list-style: none;
                    padding: 0;
                    .nav_items {
                        padding-top: 20px;
                        padding-bottom: 20px;

                        &.active {
                            color: #4BE6AD !important;
                        }
                    }
                }
            }
            border-bottom: white solid 1px;
        }

        &--btm { 

        }
    }
}