* {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #F2F4F4;
}

#bg-ele-svg {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: -50px;
}

.navbar {
  background-color: #031625;
  width: 100%;
  top: 0vh;
  z-index: 1;
  position: fixed;
}
.navbar #nav-menu {
  text-align: center;
}
.navbar #nav-menu .nav-items {
  list-style-type: none;
  margin-top: 8px;
}
.navbar #nav-menu .nav-items .btn-nav {
  border-radius: 0px;
  border-bottom: #031625 3px solid;
  padding: 3px;
  transition: border-bottom 0s ease-in-out, color 0.5s ease-in-out;
}
.navbar #nav-menu .nav-items .btn-nav:hover {
  color: #54f0a2;
}
.navbar #nav-menu .nav-items .btn-nav:focus {
  border-bottom: solid 3px #54f0a2;
  color: #54f0a2;
}
.navbar #nav-menu .nav-items a {
  text-decoration: none;
  color: #F2F4F4;
}

.container {
  color: #031625;
  margin: 7em auto;
}

#intro-sec {
  text-align: center;
  margin-top: 9em;
}
#intro-sec #intro-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro-sec #intro-title h1 {
  font-size: 40pt;
  margin-bottom: 15px;
  color: #212F3D;
}
#intro-sec #intro-title p {
  color: #212F3D;
  background-color: #54f0a2;
  text-align: left;
  font-size: 15pt;
  border-left: solid #212F3D 3px;
  border-radius: 2px;
  padding: 7px;
  margin-left: 1em;
}

#info-sec .content-box {
  padding: 20px;
  margin: 3em auto;
  width: auto;
  height: auto;
  background-color: rgba(213, 216, 220, 0.3);
  border-radius: 2px;
  text-align: center;
  box-shadow: 2px 2px 0px 0px #dfdfdf;
}
#info-sec .content-box .box-title {
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  width: 4em;
}
#info-sec .content-box #about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#info-sec .content-box #about-content p {
  width: 30em;
  font-size: 14pt;
  text-align: left;
  padding-left: 5px;
}
#info-sec .content-box #about-content #intro-pic {
  border-radius: 50%;
  width: fit-content;
  border: solid #212F3D 5px;
}
#info-sec .content-box #about-content #intro-pic img {
  border-radius: 50%;
  width: 250px;
}
#info-sec .content-box #about-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
#info-sec .content-box #about-bottom p {
  margin-right: 1em;
  margin-top: 1em;
}
#info-sec .content-box #about-bottom .btn-design {
  background-color: none;
  color: #031625;
  border: #031625 2px solid;
}
#info-sec .content-box #about-bottom .btn-design:hover {
  color: #54f0a2;
  background-color: #031625;
}
#info-sec .content-box a {
  text-decoration: none;
  color: black;
}
#info-sec .content-box .row .col {
  margin: 0;
  margin-bottom: 2em;
}
#info-sec .content-box .row .col .project-cards {
  width: 14em;
  padding: 0%;
  opacity: 100%;
  transition: color 0.7s ease-in-out, opacity 0.7s ease-in-out;
  color: white;
}
#info-sec .content-box .row .col .project-cards .project-bottom {
  background-color: #212F3D;
}
#info-sec .content-box .row .col .project-cards .project-bottom .project-title {
  text-align: center;
  padding-top: 5px;
}
#info-sec .content-box .row .col .project-cards .project-bottom .project-desc {
  font-size: 10pt;
  padding: 8px;
}
#info-sec .content-box .row .col .project-cards:hover {
  opacity: 60%;
  color: #54f0a2;
}
#info-sec .content-box .skills-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#info-sec .content-box .skills-box #WD-Skills, #info-sec .content-box .skills-box #SD-Skills {
  display: flex;
  text-align: center;
}
#info-sec .content-box .skills-box #WD-Skills .col, #info-sec .content-box .skills-box #SD-Skills .col {
  margin: 7px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#info-sec .content-box .skills-box #WD-Skills .col .skill-list, #info-sec .content-box .skills-box #SD-Skills .col .skill-list {
  width: 75%;
  height: auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  background-color: #212F3D;
  border-bottom: solid #031625 3px;
  border-radius: 7px;
}
#info-sec .content-box .skills-box #WD-Skills .col .skill-list li, #info-sec .content-box .skills-box #SD-Skills .col .skill-list li {
  list-style-type: none;
  margin-right: 1em;
  margin-bottom: 10px;
  color: darkslategray;
  background-color: #54f0a2;
  border: solid 2px #54f0a2;
  border-radius: 15px;
  padding: 5px;
}
#info-sec .content-box .skills-box #WD-Skills .col .skill-list li:hover, #info-sec .content-box .skills-box #SD-Skills .col .skill-list li:hover {
  background-color: #212F3D;
  color: #54f0a2;
}
#info-sec .content-box .contact-items {
  display: flex;
  justify-content: space-around;
}
#info-sec .content-box .contact-items .btn-contact {
  background-color: none;
  color: #031625;
  border: #031625 2px solid;
}
#info-sec .content-box .contact-items .btn-contact:hover {
  color: #54f0a2;
  background-color: #031625;
}

footer {
  background-color: #031625;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
footer p {
  color: #F2F4F4;
}

/*# sourceMappingURL=style.css.map */
